name: Run Tests
on:  
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  workflow_dispatch:
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: gcc nob.c -o nob && ./nob
      - name: Test
        run: ./nob test

